* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    padding: 20px;
    font-family: sans-serif;
    font-size: 24px;
}

header {
    margin-bottom: 25px;
}

.nav-list {
    list-style: none;
    border: 3px solid brown;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.nav-list li {
    border: 3px solid green;
    /* width: max-content; */
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
}

.columns {
    border: 2px solid red;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #2fffda;
    padding: 10px;
    flex: 1;
    /* flex-shrink: 0; */
    /* flex-basis: 300px; */
    /* width: min-content;
    flex-grow: 1; */
    /* width: 100%; */
}




@media(min-width: 750px){
    .columns {
        flex-direction: row;
    }
}


