* {
    box-sizing: border-box;
}


.parent {
    /* height: 300px; */
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    /* flex-direction: column; */
}

div {
   border:1px solid black;
   font-size: 20px;
   /* flex: 1 1 80px; */
   flex:1 1 0;
}

