* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    display: flex;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.bold-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.center {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: #2e323f;
    padding: 1.5em 0;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.14rem;
}

header li:first-child a {
    font-size: 2rem;
}

header ul {
    gap: 3rem;
    align-items: center;
}

header ul li:first-child {
  margin-right: auto;
}

.hero {
    padding: 100px 0;
}

.hero--primary, .hero--quaternary {
    background-color: #3b4050;
    color: #fff;
}

.hero--primary h1 {
    font-size: 5.65rem;
    line-height: 1;
}

.hero--primary a, header li:last-child a {
   background-color: #A59678;
   text-transform: uppercase;
   color: #fff;
   text-decoration: none;
   border-radius: 100vw;
   padding: .2em 1.5em;
   margin-top: 1rem;
   display: inline-block;
   align-self: flex-start;
}

header li:last-child a {
  margin-top: 0;
}

.hero--primary .container {
    margin-bottom: 5rem;
}

.hero--primary article {
    flex-direction: column;
    justify-content: flex-end;
}

h1 span {
    color: #A59678;
}

.twenty-four-pixel {
    font-size: 1.5rem;
}

.hero--secondary {
 background-color: #e5e7f1;
 color: #000;
 font-size: 1.14rem;
}

.hero--secondary h2, .hero--ternary h1, .hero--ternary h2, .hero--quaternary h2  {
    color: #a59678;
    margin-bottom: 1rem;
    font-size: 1.9rem;
}

.hero--secondary .container, .hero--ternary .container {
    gap: 85px;
}

.hero--ternary .container {
    justify-content: space-between;
}

.hero--ternary h1 {
 font-size: 2.3rem;
}

.hero--ternary h2, .hero--quaternary h1 {
    color: #fff;
    margin-bottom: 1rem;
}

.hero--quaternary h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.hero--ternary p, .hero--quaternary h2 {
    font-size: 1.35rem;
}

.hero--ternary article p {
    font-size: 1.14rem;
}

.hero--ternary section {
    width: 62%;
}

.hero--ternary .container div {
    color: #fff;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 32%;
}

.hero--ternary article {
    background-color: #3b4050;
    padding: 2em 3em;

}

.hero--quaternary .row {
    justify-content: space-between;
}

.hero--quaternary article:first-of-type {
    width: 32%;
    line-height: 1.5;
}

.hero--quaternary article:nth-of-type(2) {
    width: 56%;
}

.hero--quaternary a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 2rem;
    display: block;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

figure {
    margin: 3rem 0;
}