* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    display: flex;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.bold-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.center {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero {
    padding: 100px 0;
}

.hero--primary {
    background-color: #3b4050;
    color: #fff;
}

.hero--primary h1 {
    font-size: 5.65rem;
    line-height: 1;
}

.hero--primary a {
   background-color: #A59678;
   text-transform: uppercase;
   color: #fff;
   text-decoration: none;
   border-radius: 100vw;
   padding: .2em 1.5em;
   margin-top: 1rem;
   display: inline-block;
   align-self: flex-start;
}

.hero--primary .container {
    margin-bottom: 4rem;
}

.hero--primary article {
    flex-direction: column;
    justify-content: flex-end;
}

h1 span {
    color: #A59678;
}

.twenty-four-pixel {
    font-size: 1.5rem;
}

.hero--secondary {
 background-color: #eff1f9;
 color: #000;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}