* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button {
  background-color: #38CFD9;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 100vh;
  text-decoration: none;
  padding: .75em 2em;
  display: inline-block;
}

.button:hover, .button:focus {
    opacity: .75;
}

h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

p {
    margin-bottom: 3em;
    font-size: 1.5rem;
}

.header {
    background-color: #136C72;
    padding: 1em 0;
}

.header .row {
    justify-content: unset;
    align-items: center;
}

.header a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1em;
}

 .header .logo {
  font-weight: bold;
  font-size: 2rem;
}

.header li:last-child a {
    padding: .25em .75em;
    color: #136C72;
    background-color: #FFF;
    border-radius: 100vw;
    margin-right: 0;
}

.header li:nth-child(1) {
    margin-right: auto;
}

.header li:nth-child(5) {
    margin-left: auto;
}

.hero {
    background-color: #23424a;
    color: #fff;
    padding: 100px 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.hero__text-wrapper {
  width: 62%;
}

.hero__aside-width {
    width: 32%;
}


.row {
    display: flex;
    justify-content: space-between;
}

.hero.hero--secondary {
    background-color: unset;
}

.hero--secondary h1 {
    font-size: 2.3rem;
    color: #136C72;
}

.hero--secondary p {
    color: #3A3A3A;
}

aside {
    background-color: #136C72;
    color: #fff;
    padding: 5em;
    text-align: center;
}

.hero--secondary aside p {
    color: #fff;
}

aside ul {
    list-style: none;
}

