
        .container {
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
            margin: auto;
            text-align: center;
        }
        .column {
            width: 80%;
            min-height: 400px;
            border: 2px dashed #ccc;
            padding: 10px;
            font-size: 2rem;
        }
        .column div {
            border: 3px solid #1b3a6b;
        }
        .draggable {
            padding: 10px;
            margin: 5px;
            cursor: grab;
            user-select: none;
        }
        .dropzone {
            padding: 10px;
            margin: 5px;
        }
