* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
        
        
        
        .game-container {
            justify-content: space-between;
            gap: 20px;
            max-width: 1100px;
            margin: 0 auto;
            padding: 35px 20px 20px 20px;
            background-color: #f9f9f9;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border: 4px solid #d32f2f;
            width: 80%;
            display: flex;
        }

        .nickname-container, .player-container {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        
        .column-title {
            font-size: 2rem;
            color: #1b3a6b;
            font-weight: 700;
            text-align: center;
            margin-bottom: 15px;
            text-transform: uppercase;
          }

        .column {
            padding: 10px;
            font-size: 2rem;
            text-align: center;
        }
      
        .rectangle {
            border: 3px solid #1b3a6b;
            margin-bottom: 15px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #1b3a6b;
            transition: background-color 0.5s ease-in-out;
            padding: 10px;
          }

        .draggable {
            cursor: grab;
            user-select: none;
        }

        .dropzone {
            /* padding: 10px; */
        }


        @media(max-width: 768px){
            .game-container, header {
              width: unset;
              margin: 0 10px 0 10px;
            }
          
            .column-title {
              font-size: 1.2rem;
            }
          
          }