* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background-color: gray;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
}

.row {
    display: flex;
}

.modal {
    width: 40%;
    max-width: 1100px;
    background-color: #fff;
    align-items: flex-start;
    padding: 1em;
    gap: 1em;
    border-radius: 10px;
}

.modal div:first-child {
    background-color: lavender;
    font-size: 2rem;
    font-weight: 900;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.container {
    flex-direction: column;
    gap: 1em;
}

header {
    align-items: center;
    justify-content: space-between;
}

header > button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.button-container button {
    padding: .5em 1em;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.button-container button:last-child {
    background-color: unset;
    color: blue;
    border: 1px solid;
}