* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #F6F7F8;
	font-family: 'Manrope', sans-serif;
	font-size: 1rem;
	min-height: 100dvh;
	color: #072635;
}

.light-color {
	color: #707070;
}

li a {
	text-decoration: none;
	color: #072635;

}

/* Font weights */
.regular {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.extra-bold {
	font-weight: 800;
}

.page-container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 18px 18px 19px 18px;
	display: grid;
	grid-template-columns: 1fr 2.3fr 1fr;
}

.flex {
	display: flex;
}

.header {
	grid-column: 1/4;
	font-size: .875rem;
	margin-bottom: 32px;
	background-color: #FFF;
	border-radius: 70px;
	padding: 6px;
}

nav {
	padding: 0 32px;
}

nav ul {
	align-items: center;
	flex-wrap: wrap;
}

ul li {
	list-style-type: none;
}

nav .overview {
	margin-left: auto;
}

nav .overview,
nav .patients,
nav .schedule,
nav .message,
nav .transactions {
	margin-right: 40px;
	padding: 11px 16px;
}

nav .transactions {
	margin-right: auto;
}

/* Hover effect */
.overview:hover,
.patients:hover,
.schedule:hover,
.message:hover,
.transactions:hover {
	background-color: #01F0D0;
	transition: background-color 0.3s ease, color 0.3s ease;
	border-radius: 41px;
}


nav .overview img,
nav .patients img {
	margin-right: 9px;
}

nav .schedule img,
nav .message img,
nav .transactions img,
nav .senior-doctor img {
	margin-right: 8px;
}

nav .doctor-text {
	margin-right: 25px;
}

nav .settings {
	margin-right: 12px;
}

/* aside */

.patient-container {
	max-width: 367px;
	margin-right: 32px;
	grid-column: 1;
	border-radius: 16px;
	background-color: #FFF;
	height: 1054px;
}

.patients-list {
	height: 940px;
}

.patients-header {
	align-items: center;
	padding: 20px;
}

.patient-container .card-title,
.main .card-title {
	font-size: 1.5rem;
	margin-right: auto;
}

.patient-container h2,
.patient-info p {
	font-size: .875rem;
}

.patient-item {
	padding: 16px 20px;
	gap: 12px;
	cursor: pointer;
}

.patient-item:hover {
	background-color: #D8FCF7;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.patient-info {
	flex-direction: column;
	margin-right: auto;
}

.patient-photo {
	object-fit: contain;
	height: 48px;
	width: 48px;
}


.patient-container button {
	border: none;
	background-color: transparent;
}

/* main section */
.main {
	margin-right: 33px;
	grid-column: 2;
}

.main .card-title {
	margin-bottom: 40px;
}

/* blood pressure */

.blood-pressure-container {
	border-radius: 12px;
	justify-content: space-between;
	background-color: #F4F0FE;
	min-height: 298px;
	padding: 16px;
	margin-bottom: 20px;
}

.chart-container {
	width: 60%;
	max-width: 600px;
}

.chart-container h2 {
	font-size: 1.125rem;
	margin-bottom: 28px;
}

.info-container {
	width: 201px;
	height: 208px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.info-box {
	flex-direction: column;
	gap: 8px;
	width: 100%;
	height: 50%;
	justify-content: center;
	margin-bottom: 10px;
}

.systolic-reading, .diastolic-reading {
 font-size: 1.375rem;
 min-height: 32px;
}

.dia-levels, .sys-levels {
    min-height: 27px;
}

.info-box img {
	margin-right: 8px;
    width: 10px;
}

.info-box.systol {
	border-bottom: 1px solid #CBC8D4;
	padding-bottom: 16px;
}

.info-box h3 {
	font-size: .875rem;
}


#latestReadings {
	text-align: center;
	font-size: 14px;
	font-family: Arial, sans-serif;
	margin-top: 20px;
}

/* Diagnostic History Readings */
.diagnotic-history {
	background-color: #FFF;
	border-radius: 16px;
	padding: 20px;
	margin-bottom: 32px;
}

.medical-data {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
	gap: 21px;
}

.medical-data > div {
	border-radius: 12px;
	padding: 16px;
	min-height: 242px;
}

.medical-data img {
	margin-bottom: 16px;
}

.result {
	font-size: 1.875rem;
	margin-bottom: 17px;
    min-height: 40px;
}

.diagnosis {
	font-size: .875rem;
    min-height: 19px;
}

.respiratory {
	background-color: #E0F3FA;
}

.temperature {
	background-color: #FFE6E9;
}

.heart-rate {
	background-color: #FFE6F1;
}

/* Diagnostics List */

.diagnostic-list-section {
	background-color: #FFF;
	border-radius: 16px;
	padding: 20px;
}

.section-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.diagnostic-headers {
	display: grid;
	margin-bottom: 31px;
	place-items: center;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 10px;
	background-color: #F6F7F8;
	padding: 15px 16px;
	border-radius: 24px;
}

.diagnostic-headers,
.diagnostic-item {
	font-size: .875rem;
}

.diagnostic-item {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 10px;
}

.diag-item-parent {
	height: 167px;
}

.diagnostic-item > div {
	margin-bottom: 37px;
	margin-left: 37px;
}


/* Patient Details */

.patient-details {
	grid-column: 3;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.profile-photo {
	display: block;
	margin: 0 auto 24px auto;
}

.patient-profile {
	padding: 32px 0 0 20px;
	background-color: #FFF;
	border-radius: 16px;
}

.patient-profile h2 {
	font-size: 1.5rem;
	margin: 0 auto 32px auto;
	width: fit-content;
    min-height: 33px;
}

.profile-info > p {
	margin-bottom: 32px;
	gap: 16px;
	align-items: flex-start;
}

.icon {
	object-fit: contain;
}

.profile-info > p > span {
	flex-direction: column;
	font-size: 0.875rem;
}

.show-info-btn {
	width: 220px;
	height: 41px;
	background: #01F0D0;
	border-radius: 41px;
	border: none;
	font-size: 0.875rem;
	cursor: pointer;
	text-align: center;
	line-height: 41px;
	transition: all 0.3s ease;
	display: block;
	margin: 0 auto 47px auto;
}

/* Hover effect */
.show-info-btn:hover {
	background: #00d4ba;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.lab-results-section {
	padding: 20px 20px 0 20px;
	background-color: #FFF;
	border-radius: 16px;
}

.lab-results {
	height: 159px;
}

.lab-results-header {
	font-size: 1.5rem;
	margin-bottom: 27px;
}

.lab-results li {
	justify-content: space-between;
	font-size: .813rem;
	cursor: pointer;
	padding: 8px 16px;
}

.lab-results li:hover {
	background-color: #F6F7F8;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.lab-results li:last-child {
	margin-bottom: 10px;
}

.lab-results button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}


/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #E3E4E6;
	border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #072635;
	border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #072635;
}

.custom-scrollbar::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

.custom-scrollbar {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #072635 #E3E4E6;
}


@media (max-width:450px) {

	.profile-photo {
		max-width: 50%;
	}

	.show-info-btn {
		width: 143px;
	}

	.diagnostic-list-section {
		text-align: center;

	}

	.diagnostic-item,
	.diagnostic-headers {
		display: unset;
	}

	.diagnostic-headers {
		background-color: unset;
	}

	.diagnostic-item > div {
		margin-left: 0;
	}
}

@media (max-width:670px) {
	.blood-pressure-container {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
}


@media (max-width:768px) {
	nav ul {
		flex-direction: column;
		align-items: center;
	}

	nav .overview,
	nav .patients,
	nav .schedule,
	nav .message,
	nav .transactions {
		margin-right: 0;
		margin-bottom: 10px;
	}

	nav .doctor-text,
	nav .settings,
	nav .view-more {
		display: none;
	}

}


@media (max-width:1024px) {

	.header {
		border-radius: 16px;
	}

	nav ul {
		flex-direction: column;
		align-items: center;
	}

	nav {
		padding: 0;
	}

	nav li {
		width: 100%;
		text-align: center;
	}

	.overview:hover,
	.patients:hover,
	.schedule:hover,
	.message:hover,
	.transactions:hover {
		border-radius: 0;
	}

	nav a {
		justify-content: center;
	}

	nav .overview {
		margin-left: 0;
	}

	nav .overview,
	nav .patients,
	nav .schedule,
	nav .message,
	nav .transactions,
	nav .doctor-text,
	nav .settings {
		margin-right: 0;
		margin-bottom: 10px;
	}

	nav .doctor-text {
		display: block;
		margin-top: 10px;
	}
}

@media (max-width:1105px) {
	nav .transactions {
		margin-right: 0;
	}

}

@media(max-width:1200px) {
	.page-container {
		display: flex;
		flex-direction: column;
	}

	.header {
		grid-column: unset
	}

	.patient-container {
		max-width: none;
		margin-right: 0;
		margin-bottom: 32px;
	}

	.diagnostic-list-section {
		margin-bottom: 32px;
	}

	.patients-list {
		display: flex;
		height: unset;
	}

	.patient-container {
		height: unset;
	}

	.main {
		margin-right: 0;
	}
}